default:
    paths:
        features: features
    context:
        class: Bravesheep\CrudifyBundle\Context\FeatureContext
    extensions:
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            kernel:
                bootstrap: src/test/Bravesheep/CrudifyBundle/Fixtures/App/autoload.php
                path: src/test/Bravesheep/CrudifyBundle/Fixtures/App/AppKernel.php
                class: Bravesheep\CrudifyBundle\Fixtures\App\AppKernel
        Behat\MinkExtension\Extension:
            default_session: symfony2
        VIPSoft\DoctrineDataFixturesExtension\Extension:
            lifetime: scenario
            autoload: true
            migrations: ~
