<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}</a>
{% if 'desc' in options %}<span class="fa fa-angle-up"></span>{% endif %}
{% if 'asc' in options %}<span class="fa fa-angle-down"></span>{% endif %}
